<!DOCTYPE html>
<html lang="en">
  <head>
<% include partials/head %>
  </head>
<!-- NAVBAR
================================================== -->
  <body>

<% include partials/nav %>
    <!-- Carousel carousel placeholder
    ================================================== -->
<div class="container">


<div class="page-banner">
  <div class="call">

      <h1><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Shine2Fm <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h1>
      <p>
        FAST FOOD MOBILE
      </p>
    <p class="ca"><a class="btn btn-lg btn-success" href="/menu" role="button">COMMANDEZ MAINTENANT</a></p>
  </div>
</div>
</div>

    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

    <!--  <hr class="featurette-divider"> -->

      <div class="row featurette flexy">
        <div class="col-md-7 feat-1">
          <h2 class="featurette-heading">BON APPETIT. REGALES - TOI</h2>

        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="images/sharing.jpg" alt="Generic placeholder image">
        </div>
      </div>



      <div class="row featurette flexy margin-top ">
        <div class="col-md-7 col-md-push-5 wood">
          <h2 class="featurette-heading">POUR TOUT LES GOÛTS<span class="text-muted">.</span></h2>
        </div>
        <div class="col-md-5 col-md-pull-7 flex-gout">
          <div class="sucre gout">
            <p>
              Sucré
            </p>
          </div>
          <div class="sale gout">
            Salé
          </div>
          <div class="piment gout">
            Pimenté
          </div>
        </div>
      </div>


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->


    </div><!-- /.container -->

<% include partials/foot %>
  </body>
</html>
