<!DOCTYPE html>
<html lang="en">
  <head>
<% include partials/head %>
  </head>
<!-- NAVBAR
================================================== -->
  <body>

<% include partials/nav %>



<% include partials/menu %>





<% include partials/foot %>
  </body>
</html>
