/*
Main color #f19200 orange;
rouge #c00b0e

background-color body #977a4c
*/

body {
  background-color: #977a4c;
  padding-bottom: 0px;
}

.navbar {
  min-height: 117px;
}
.navbar-wrapper {
  margin-top: 0;
}

.marketing {

  padding-top: 9px;
  background-color: #FFFFFF;

}

.margin-top {
  margin-top: 9px;
}

.carousel {
margin-bottom: 0px;
}

.feat-1 {
  background-image: url(../images/feature-bck.png);
  background-repeat: no-repeat;
  background-position: right 0px;
  background-color: #f19200;
  min-height: auto;
  text-align: center;
}

.flexy {
  display: flex;
  flex-wrap: wrap;
}

#map {
  height: 400px;
}

.dropdown-menu{
  background-color: #36b13c;
}

.dropdown-header {
  color: #ffffff;
}


.navbar-inverse .navbar-nav > li > a, .dropdown-menu li{
font-size: 1.3em;
}

.carousel-caption {
  position: relative;
  top:171px;

}
.wood {
  background-image: url(../images/wood-table.jpeg);
}

footer {
  background-color: #080808;
  padding: 36px;
}

/*
.shine-pos {
  position: relative;
  left: 40px;
  top : 63px;
}

.item img {
  width: 100%;
  height: auto;
}
*/
