/*
Main color #f19200 orange;
rouge #c00b0e

background-color body #977a4c
*/

@font-face {
    font-family: "Rock";
    src: url('../fonts/ufonts.com_rockwell.ttf');
}

body {
  /* background-color: #977a4c;*/
  background-color: #CCC;
  padding-bottom: 0px;
  min-height: 300px;
}
.featurette-heading,.navbar-inverse .navbar-nav > li > a, .dropdown-menu li,.call,.gout{
    font-family: "Rock",sans-serif;
}
.featurette-heading, .gout {
  font-size: 4.5em;
  color: #fff;
}

.navbar{
  min-height: 117px;
}
.navbar-wrapper {
  margin-top: 0;
}

.marketing {

  padding-top: 9px;
  /* background-color: #FFFFFF; */

}

.margin-top {
  margin-top: 9px;
  text-align: center;
}

.carousel {
margin-bottom: 0px;
}

.feat-1 {
  background-image: url(../images/feature-bck.png);
  background-repeat: no-repeat;
  background-position: right 0px;
  background-color: #f19200;
  min-height: auto;
  text-align: center;
}



#map {
  height: 400px;
}

.flex-gout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.gout {
  height: auto;

}
.sucre {
  background-color: #f19200;
}
.sale {
  background-color: #3cae35;
}
.piment {
  background-color: #b20e0c;
}
.dropdown-menu{
  background-color: #36b13c;
}

.dropdown-header {
  color: #ffffff;
}


.navbar-inverse .navbar-nav > li > a, .dropdown-menu li{

font-size: 1.3em;
}

.navbar-brand, .navbar-brand a, .navbar-brand img {
  display: block;
  padding: 0;
}
.wood {
  background-image: url(../images/wood-table.jpeg);
}

footer {
  background-color: #080808;
  padding: 36px;
}
.page-banner {
  background: url(../images/shine-h.jpg) no-repeat center center;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 28.125em;
color : #ffffff;
    text-align: center;
}

.page-banner .call {
  display: block;

    height: 100%;
    padding-bottom: 2.8125em;
    padding-right:1.25em;
    padding-left: 0;
    width: 50%;

    position: relative;
    top: 50%;
    max-width: 76.875em;
    margin: 0 auto 0.9375em;
}
.page-banner .call::after,.page-banner .call::before{
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.page-banner .call::after{
clear: both;
}
.ca {
  display: inline-block;
}



@media screen and (min-width: 900px)

{
  .carousel-caption {
    position: relative;
    top:171px;

  }
  .flexy {
    display: flex;
    flex-wrap: wrap;
  }
}


/* bottom */

@media screen and (max-width: 460px){
.page-banner .call{
  width: 100%;

}
.ca {
  display: block;
}

}

@media screen and (max-width: 360px){
.page-banner .call{
  padding-left: 0.9;

}

.navbar-brand{
  display: block;
}

}

@media screen and (max-width: 640px){

.navbar-brand{
position: absolute;
top:3px;
left: 3px;

}
.navbar-header{
  width: 50%;
  float: right;
}
#navbar {
  text-align: center;
  position: absolute;
  top: 1.7em;
  width: 100%;
  background-color: #000;
}
}

/*
.shine-pos {
  position: relative;
  left: 40px;
  top : 63px;
}

.item img {
  width: 100%;
  height: auto;
}
*/
